button {
  background-color: #A9A9A9	;
  border-radius: 8px;
  outline:0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

button:hover {background-color: #003c66}

button:active {
  background-color: #005a99;
  transform: translateY(4px);
}
