body {
  background: linear-gradient(to bottom, rgb( 192, 192, 196), rgb(255,255,255));
  font-family: 'Baloo Bhai', cursive;
}


h1 {
  padding-top: 40px;
  text-align: center;
  color : white;
}

.container {
  padding-top: 40px;
}


.btn:hover{
  transform: scale(1.4);
}

button {
  font-family: 'Baloo Bhai', cursive;
  background-color: #A9A9A9	;
  border-radius: 4px;
  line-height: 32px;
  outline:0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
}

button:hover {background-color: #003c66}

button:active {
  background-color: #005a99;
  transform: translateY(4px);
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  font-size : 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#DateCreatedButton{
  color: black;
  background-color: #A9A9A9;
  border-radius: 4px;
  line-height: 32px;
  outline:0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  pointer-events: none;
}

#ReportBugDiv{
  padding-top: 10px;
  text-align: center;
}

#bugRep{
  width: 150px;
  height: 50px;
}

#editBugButtons{
  font-size: 80%;
}


