

body {
  height: 100vh;
  background: linear-gradient(to right, rgb(21, 108, 201), rgb(121, 184, 235));
  font-family: 'Baloo Bhai', cursive;
  background-image: url("backroundImage.jpg");
  height: 100%;
}

h1 {
  text-align: center;
  padding-top: 40px;
  color : white;
}

.container {
  padding-top: 50px;
  height: 80vh;
}

button {
  background-color: #A9A9A9	;
  border-radius: 4px;
  line-height: 32px;
  outline:0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

button:hover {background-color: #003c66}

button:active {
  background-color: #005a99;
  transform: translateY(4px);
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  font-size : 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

th, td {
  padding: 1em;
}

#DateCreatedButton{
  color: black;
  background-color: #A9A9A9;
  border-radius: 4px;
  line-height: 32px;
  outline:0;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding: 5px 15px;
  margin-top: 10px;
  pointer-events: none;
}

