<span title="Click to sort by case">

  <table>
    <tr>
      <th>
        <button onclick="sortyByTitle()">Title</button>
      </th>
      <th>
        <button onclick="sortByPriority()">Priority</button>
      </th>
      <th>
          <button onclick="sortByKey(Bugs, key)">Reporter</button>
      </th>
      <th>
        <button onclick="sortByKey(Bugs, '')">Date Created</button>
      </th>
      <th>
        <button onclick="sortByKey(Bugs, '')">Status</button>
      </th>

    </tr>
  </table>
</span>

<br/>

<div>
<label> KANONIKA </label>
  <ul>
    <li *ngFor="let i of Bugs">
    title: {{i.title}} <br/>
    priority: {{i.priority}}<br/>
    reporter: {{i.reporter}}<br/>
    created at :{{i.createdAt}}<br/>
    status: {{i.status}}<br/>

    </li>
    </ul>

</div>

<div>
  <label> SORTARISMENA ME PRIORITY DISC </label>
    <ul>
      <li *ngFor="let i of BugsSortedPriorityDesc">
      title: {{i.title}} <br/>
      priority: {{i.priority}}<br/>
      reporter: {{i.reporter}}<br/>
      created at :{{i.createdAt}}<br/>
      status: {{i.status}}<br/>

      </li>
      </ul>

  </div>

  <div>
    <label> SORTARISMENA ME PRIORITY ASC </label>
      <ul>
        <li *ngFor="let i of BugsSortedPriorityAsc">
        title: {{i.title}} <br/>
        priority: {{i.priority}}<br/>
        reporter: {{i.reporter}}<br/>
        created at :{{i.createdAt}}<br/>
        status: {{i.status}}<br/>

        </li>
        </ul>

    </div>
