<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<section id="team" class="team content-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Our Team</h2>
          <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
        </div>
  
        <div class="container">
          <div class="row">
  
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="https://i.ibb.co/sKG2nVT/22.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Εφαρμοσμένη Πληροφορική Πανεπιστήμιο Μακεδονίας</p>
                  </figcaption>
                </figure>
                <h4>George Papaioannou</h4>
                <p>Front End Developer</p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="https://i.ibb.co/GvfRT8y/bfghjvgjppppppppppp.png" alt="" class="img-responsive">
                  <figcaption>
                    <p>Applied Multimedia University of Nicosia</p>
                  </figcaption>
                </figure>
                <h4>Stelios Theodorikakos</h4>
                <p>Front End Developer</p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="https://i.ibb.co/wYzsVNm/333.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Μηχανικών Πληροφορικής & Η/Υ ΤΕΙ Στερεάς Ελλάδας</p>
                  </figcaption>
                </figure>
                <h4>Panos Koutsianas</h4>
                <p>Front End Developer</p>
              </div>
            </div>
  
  
          </div>
        </div>
  
      </div>
    </div>
  </section>